.regProfile1 {
  display: flex;
  flex-direction: row;
}

.regProfile1_1 {
  height: 100vh;
  width: 15%;
  background-color: white;
}

.regProfile1_2 {
  width: 85%;
}

.regProfile1_2_1 {
  display: flex;
  height: 15%;
  align-items: center;
  justify-content: center;
}

.profilePictureDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  height: calc(100vh - 100px);
  border-radius: 10px;
  background-color: transparent;
}

.profilePicture2 {
  flex: 1;
  width: 450px;
  height: 49%;
  text-align: center;
  padding: 15px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #fff;
}

.profileAvatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profileAvatarButton {
  position: absolute;
  bottom: 40px;
  right: 130px;
  width: 40px;
  height: 40px;
  background-color: #7d0a0a;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 30px;
}

.profileAvatarButton:hover {
  background-color: #fffdfd;
}

.pencilIcon {
  font-size: 20px;
}

/* Media Queries */
@media (max-width: 600px) {
  .profileAvatar {
    width: 50px;
    height: 50px;
  }
}
